.info-item {
    background: #fff;
    height: 170px;
    font-size: 30px;/*px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    margin-bottom: 20px;
}

.info-item .l, .info-item .r {
    display: flex;
    align-items: center;
}

.info-item .l .circle, .info-item .l .circle-yellow {
    height: 56px;
    width: 56px;
    line-height: 56px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    background: #00aaee;
    color: #fff;
    margin: 0 24px;
}
.info-item .l .circle-yellow {
    background: #ff9b00;
}

.info-item .r .arrow {
    width: 20px;
    height: 35px;
    margin-right: 28px;
}
.info-item .r .line, .goods-item .line::after {
    width: 2px;/*px*/
    height: 150px;
    background: #f2f2f2;
}
.info-item .r .gps {
    width: 36px;
    height: 47px;
    margin: 0 40px;
}

.goods-item {
    background: #fff;
    padding: 30px 24px;
}
.goods-item .icon {
    width: 55px;
    height: 55px;
}
.goods-item input {
    border: none;
    flex: auto;
    width: 117px;
    text-align: center;
}
.goods-item .line::after {
    content: "";
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    color: #fff;
}
.footer .content {
    background: #555;
    float: left;
    width: 550px;
    height: 100%;
}
.footer .btn {
    width: 200px;
    height: 100%;
    float: right;
    background: #bfbfbf;
}

