/**
 * Created by Jasmine on 2018/6/10.
 */
/* Basscss Type Scale */
[data-dpr="1"] .fs-20px {
  font-size: 10px;
}
[data-dpr="2"] .fs-20px {
  font-size: 20px;
}
[data-dpr="3"] .fs-20px {
  font-size: 30px;
}

[data-dpr="1"] .fs-22px {
  font-size: 11px;
}
[data-dpr="2"] .fs-22px {
  font-size: 22px;
}
[data-dpr="3"] .fs-22px {
  font-size: 33px;
}

[data-dpr="1"] .fs-24px {
  font-size: 12px;
}
[data-dpr="2"] .fs-24px {
  font-size: 24px;
}
[data-dpr="3"] .fs-24px {
  font-size: 36px;
}

[data-dpr="1"] .fs-26px {
  font-size: 13px;
}
[data-dpr="2"] .fs-26px {
  font-size: 26px;
}
[data-dpr="3"] .fs-26px {
  font-size: 39px;
}

[data-dpr="1"] .fs-28px {
  font-size: 14px;
}
[data-dpr="2"] .fs-28px {
  font-size: 28px;
}
[data-dpr="3"] .fs-28px {
  font-size: 42px;
}

[data-dpr="1"] .fs-30px {
  font-size: 15px;
}
[data-dpr="2"] .fs-30px {
  font-size: 30px;
}
[data-dpr="3"] .fs-30px {
  font-size: 45px;
}

[data-dpr="1"] .fs-32px {
  font-size: 16px;
}
[data-dpr="2"] .fs-32px {
  font-size: 32px;
}
[data-dpr="3"] .fs-32px {
  font-size: 48px;
}

[data-dpr="1"] .fs-34px {
  font-size: 17px;
}
[data-dpr="2"] .fs-34px {
  font-size: 34px;
}
[data-dpr="3"] .fs-34px {
  font-size: 51px;
}

[data-dpr="1"] .fs-36px {
  font-size: 18px;
}
[data-dpr="2"] .fs-36px {
  font-size: 36px;
}
[data-dpr="3"] .fs-36px {
  font-size: 54px;
}

[data-dpr="1"] .fs-38px {
  font-size: 19px;
}
[data-dpr="2"] .fs-38px {
  font-size: 38px;
}
[data-dpr="3"] .fs-38px {
  font-size: 38px;
}

[data-dpr="1"] .fs-40px {
  font-size: 20px;
}
[data-dpr="2"] .fs-40px {
  font-size: 40px;
}
[data-dpr="3"] .fs-40px {
  font-size: 40px;
}

[data-dpr="1"] .fs-42px {
  font-size: 21px;
}
[data-dpr="2"] .fs-42px {
  font-size: 42px;
}
[data-dpr="3"] .fs-42px {
  font-size: 42px;
}

[data-dpr="1"] .fs-44px {
  font-size: 22px;
}
[data-dpr="2"] .fs-44px {
  font-size: 44px;
}
[data-dpr="3"] .fs-44px {
  font-size: 44px;
}

[data-dpr="1"] .fs-46px {
  font-size: 23px;
}
[data-dpr="2"] .fs-46px {
  font-size: 46px;
}
[data-dpr="3"] .fs-46px {
  font-size: 46px;
}

[data-dpr="1"] .fs-48px {
  font-size: 24px;
}
[data-dpr="2"] .fs-48px {
  font-size: 48px;
}
[data-dpr="3"] .fs-48px {
  font-size: 48px;
}

[data-dpr="1"] .fs-50px {
  font-size: 25px;
}
[data-dpr="2"] .fs-50px {
  font-size: 50px;
}
[data-dpr="3"] .fs-50px {
  font-size: 50px;
}

/* Basscss Typography */
.font-family-inherit {
  font-family: inherit; }

.font-size-inherit {
  font-size: inherit; }

.text-decoration-none {
  text-decoration: none; }

.bold {
  font-weight: bold; }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.left-align {
  text-align: left; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.justify {
  text-align: justify; }

.nowrap {
  white-space: nowrap; }

.break-word {
  word-wrap: break-word; }

.line-height-1 {
  line-height: 1; }

.line-height-2 {
  line-height: 1.5; }

.line-height-3 {
  line-height: 2; }

.line-height-4 {
  line-height: 2.5; }

.list-style-none {
  list-style: none; }

.underline {
  text-decoration: underline; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.list-reset {
  list-style: none;
  padding-left: 0; }

/* Basscss Layout */
.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }

.border-box {
  box-sizing: border-box; }

/* Basscss Align */
.align-baseline {
  vertical-align: baseline; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

/* Basscss Margin */
.m-0px {
  margin: 0px; }

.mt-0px {
  margin-top: 0px; }

.mr-0px {
  margin-right: 0px; }

.mb-0px {
  margin-bottom: 0px; }

.ml-0px {
  margin-left: 0px; }

.mx-0px {
  margin-left: 0px;
  margin-right: 0px; }

.my-0px {
  margin-top: 0px;
  margin-bottom: 0px; }

.m-2px {
  margin: 2px; }

.mt-2px {
  margin-top: 2px; }

.mr-2px {
  margin-right: 2px; }

.mb-2px {
  margin-bottom: 2px; }

.ml-2px {
  margin-left: 2px; }

.mx-2px {
  margin-left: 2px;
  margin-right: 2px; }

.my-2px {
  margin-top: 2px;
  margin-bottom: 2px; }

.m-4px {
  margin: 4px; }

.mt-4px {
  margin-top: 4px; }

.mr-4px {
  margin-right: 4px; }

.mb-4px {
  margin-bottom: 4px; }

.ml-4px {
  margin-left: 4px; }

.mx-4px {
  margin-left: 4px;
  margin-right: 4px; }

.my-4px {
  margin-top: 4px;
  margin-bottom: 4px; }

.m-6px {
  margin: 6px; }

.mt-6px {
  margin-top: 6px; }

.mr-6px {
  margin-right: 6px; }

.mb-6px {
  margin-bottom: 6px; }

.ml-6px {
  margin-left: 6px; }

.mx-6px {
  margin-left: 6px;
  margin-right: 6px; }

.my-6px {
  margin-top: 6px;
  margin-bottom: 6px; }

.m-8px {
  margin: 8px; }

.mt-8px {
  margin-top: 8px; }

.mr-8px {
  margin-right: 8px; }

.mb-8px {
  margin-bottom: 8px; }

.ml-8px {
  margin-left: 8px; }

.mx-8px {
  margin-left: 8px;
  margin-right: 8px; }

.my-8px {
  margin-top: 8px;
  margin-bottom: 8px; }

.m-10px {
  margin: 10px; }

.mt-10px {
  margin-top: 10px; }

.mr-10px {
  margin-right: 10px; }

.mb-10px {
  margin-bottom: 10px; }

.ml-10px {
  margin-left: 10px; }

.mx-10px {
  margin-left: 10px;
  margin-right: 10px; }

.my-10px {
  margin-top: 10px;
  margin-bottom: 10px; }

.m-12px {
  margin: 12px; }

.mt-12px {
  margin-top: 12px; }

.mr-12px {
  margin-right: 12px; }

.mb-12px {
  margin-bottom: 12px; }

.ml-12px {
  margin-left: 12px; }

.mx-12px {
  margin-left: 12px;
  margin-right: 12px; }

.my-12px {
  margin-top: 12px;
  margin-bottom: 12px; }

.m-14px {
  margin: 14px; }

.mt-14px {
  margin-top: 14px; }

.mr-14px {
  margin-right: 14px; }

.mb-14px {
  margin-bottom: 14px; }

.ml-14px {
  margin-left: 14px; }

.mx-14px {
  margin-left: 14px;
  margin-right: 14px; }

.my-14px {
  margin-top: 14px;
  margin-bottom: 14px; }

.m-16px {
  margin: 16px; }

.mt-16px {
  margin-top: 16px; }

.mr-16px {
  margin-right: 16px; }

.mb-16px {
  margin-bottom: 16px; }

.ml-16px {
  margin-left: 16px; }

.mx-16px {
  margin-left: 16px;
  margin-right: 16px; }

.my-16px {
  margin-top: 16px;
  margin-bottom: 16px; }

.m-18px {
  margin: 18px; }

.mt-18px {
  margin-top: 18px; }

.mr-18px {
  margin-right: 18px; }

.mb-18px {
  margin-bottom: 18px; }

.ml-18px {
  margin-left: 18px; }

.mx-18px {
  margin-left: 18px;
  margin-right: 18px; }

.my-18px {
  margin-top: 18px;
  margin-bottom: 18px; }

.m-20px {
  margin: 20px; }

.mt-20px {
  margin-top: 20px; }

.mr-20px {
  margin-right: 20px; }

.mb-20px {
  margin-bottom: 20px; }

.ml-20px {
  margin-left: 20px; }

.mx-20px {
  margin-left: 20px;
  margin-right: 20px; }

.my-20px {
  margin-top: 20px;
  margin-bottom: 20px; }

.m-22px {
  margin: 22px; }

.mt-22px {
  margin-top: 22px; }

.mr-22px {
  margin-right: 22px; }

.mb-22px {
  margin-bottom: 22px; }

.ml-22px {
  margin-left: 22px; }

.mx-22px {
  margin-left: 22px;
  margin-right: 22px; }

.my-22px {
  margin-top: 22px;
  margin-bottom: 22px; }

.m-24px {
  margin: 24px; }

.mt-24px {
  margin-top: 24px; }

.mr-24px {
  margin-right: 24px; }

.mb-24px {
  margin-bottom: 24px; }

.ml-24px {
  margin-left: 24px; }

.mx-24px {
  margin-left: 24px;
  margin-right: 24px; }

.my-24px {
  margin-top: 24px;
  margin-bottom: 24px; }

.m-26px {
  margin: 26px; }

.mt-26px {
  margin-top: 26px; }

.mr-26px {
  margin-right: 26px; }

.mb-26px {
  margin-bottom: 26px; }

.ml-26px {
  margin-left: 26px; }

.mx-26px {
  margin-left: 26px;
  margin-right: 26px; }

.my-26px {
  margin-top: 26px;
  margin-bottom: 26px; }

.m-28px {
  margin: 28px; }

.mt-28px {
  margin-top: 28px; }

.mr-28px {
  margin-right: 28px; }

.mb-28px {
  margin-bottom: 28px; }

.ml-28px {
  margin-left: 28px; }

.mx-28px {
  margin-left: 28px;
  margin-right: 28px; }

.my-28px {
  margin-top: 28px;
  margin-bottom: 28px; }

.m-30px {
  margin: 30px; }

.mt-30px {
  margin-top: 30px; }

.mr-30px {
  margin-right: 30px; }

.mb-30px {
  margin-bottom: 30px; }

.ml-30px {
  margin-left: 30px; }

.mx-30px {
  margin-left: 30px;
  margin-right: 30px; }

.my-30px {
  margin-top: 30px;
  margin-bottom: 30px; }

.m-32px {
  margin: 32px; }

.mt-32px {
  margin-top: 32px; }

.mr-32px {
  margin-right: 32px; }

.mb-32px {
  margin-bottom: 32px; }

.ml-32px {
  margin-left: 32px; }

.mx-32px {
  margin-left: 32px;
  margin-right: 32px; }

.my-32px {
  margin-top: 32px;
  margin-bottom: 32px; }

.m-34px {
  margin: 34px; }

.mt-34px {
  margin-top: 34px; }

.mr-34px {
  margin-right: 34px; }

.mb-34px {
  margin-bottom: 34px; }

.ml-34px {
  margin-left: 34px; }

.mx-34px {
  margin-left: 34px;
  margin-right: 34px; }

.my-34px {
  margin-top: 34px;
  margin-bottom: 34px; }

.m-36px {
  margin: 36px; }

.mt-36px {
  margin-top: 36px; }

.mr-36px {
  margin-right: 36px; }

.mb-36px {
  margin-bottom: 36px; }

.ml-36px {
  margin-left: 36px; }

.mx-36px {
  margin-left: 36px;
  margin-right: 36px; }

.my-36px {
  margin-top: 36px;
  margin-bottom: 36px; }

.m-38px {
  margin: 38px; }

.mt-38px {
  margin-top: 38px; }

.mr-38px {
  margin-right: 38px; }

.mb-38px {
  margin-bottom: 38px; }

.ml-38px {
  margin-left: 38px; }

.mx-38px {
  margin-left: 38px;
  margin-right: 38px; }

.my-38px {
  margin-top: 38px;
  margin-bottom: 38px; }

.m-40px {
  margin: 40px; }

.mt-40px {
  margin-top: 40px; }

.mr-40px {
  margin-right: 40px; }

.mb-40px {
  margin-bottom: 40px; }

.ml-40px {
  margin-left: 40px; }

.mx-40px {
  margin-left: 40px;
  margin-right: 40px; }

.my-40px {
  margin-top: 40px;
  margin-bottom: 40px; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

/* Basscss Padding */
.p-0px {
  padding: 0px; }

.pt-0px {
  padding-top: 0px; }

.pr-0px {
  padding-right: 0px; }

.pb-0px {
  padding-bottom: 0px; }

.pl-0px {
  padding-left: 0px; }

.px-0px {
  padding-left: 0px;
  padding-right: 0px; }

.py-0px {
  padding-top: 0px;
  padding-bottom: 0px; }

.p-2px {
  padding: 2px; }

.pt-2px {
  padding-top: 2px; }

.pr-2px {
  padding-right: 2px; }

.pb-2px {
  padding-bottom: 2px; }

.pl-2px {
  padding-left: 2px; }

.px-2px {
  padding-left: 2px;
  padding-right: 2px; }

.py-2px {
  padding-top: 2px;
  padding-bottom: 2px; }

.p-4px {
  padding: 4px; }

.pt-4px {
  padding-top: 4px; }

.pr-4px {
  padding-right: 4px; }

.pb-4px {
  padding-bottom: 4px; }

.pl-4px {
  padding-left: 4px; }

.px-4px {
  padding-left: 4px;
  padding-right: 4px; }

.py-4px {
  padding-top: 4px;
  padding-bottom: 4px; }

.p-6px {
  padding: 6px; }

.pt-6px {
  padding-top: 6px; }

.pr-6px {
  padding-right: 6px; }

.pb-6px {
  padding-bottom: 6px; }

.pl-6px {
  padding-left: 6px; }

.px-6px {
  padding-left: 6px;
  padding-right: 6px; }

.py-6px {
  padding-top: 6px;
  padding-bottom: 6px; }

.p-8px {
  padding: 8px; }

.pt-8px {
  padding-top: 8px; }

.pr-8px {
  padding-right: 8px; }

.pb-8px {
  padding-bottom: 8px; }

.pl-8px {
  padding-left: 8px; }

.px-8px {
  padding-left: 8px;
  padding-right: 8px; }

.py-8px {
  padding-top: 8px;
  padding-bottom: 8px; }

.p-10px {
  padding: 10px; }

.pt-10px {
  padding-top: 10px; }

.pr-10px {
  padding-right: 10px; }

.pb-10px {
  padding-bottom: 10px; }

.pl-10px {
  padding-left: 10px; }

.px-10px {
  padding-left: 10px;
  padding-right: 10px; }

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px; }

.p-12px {
  padding: 12px; }

.pt-12px {
  padding-top: 12px; }

.pr-12px {
  padding-right: 12px; }

.pb-12px {
  padding-bottom: 12px; }

.pl-12px {
  padding-left: 12px; }

.px-12px {
  padding-left: 12px;
  padding-right: 12px; }

.py-12px {
  padding-top: 12px;
  padding-bottom: 12px; }

.p-14px {
  padding: 14px; }

.pt-14px {
  padding-top: 14px; }

.pr-14px {
  padding-right: 14px; }

.pb-14px {
  padding-bottom: 14px; }

.pl-14px {
  padding-left: 14px; }

.px-14px {
  padding-left: 14px;
  padding-right: 14px; }

.py-14px {
  padding-top: 14px;
  padding-bottom: 14px; }

.p-16px {
  padding: 16px; }

.pt-16px {
  padding-top: 16px; }

.pr-16px {
  padding-right: 16px; }

.pb-16px {
  padding-bottom: 16px; }

.pl-16px {
  padding-left: 16px; }

.px-16px {
  padding-left: 16px;
  padding-right: 16px; }

.py-16px {
  padding-top: 16px;
  padding-bottom: 16px; }

.p-18px {
  padding: 18px; }

.pt-18px {
  padding-top: 18px; }

.pr-18px {
  padding-right: 18px; }

.pb-18px {
  padding-bottom: 18px; }

.pl-18px {
  padding-left: 18px; }

.px-18px {
  padding-left: 18px;
  padding-right: 18px; }

.py-18px {
  padding-top: 18px;
  padding-bottom: 18px; }

.p-20px {
  padding: 20px; }

.pt-20px {
  padding-top: 20px; }

.pr-20px {
  padding-right: 20px; }

.pb-20px {
  padding-bottom: 20px; }

.pl-20px {
  padding-left: 20px; }

.px-20px {
  padding-left: 20px;
  padding-right: 20px; }

.py-20px {
  padding-top: 20px;
  padding-bottom: 20px; }

.p-22px {
  padding: 22px; }

.pt-22px {
  padding-top: 22px; }

.pr-22px {
  padding-right: 22px; }

.pb-22px {
  padding-bottom: 22px; }

.pl-22px {
  padding-left: 22px; }

.px-22px {
  padding-left: 22px;
  padding-right: 22px; }

.py-22px {
  padding-top: 22px;
  padding-bottom: 22px; }

.p-24px {
  padding: 24px; }

.pt-24px {
  padding-top: 24px; }

.pr-24px {
  padding-right: 24px; }

.pb-24px {
  padding-bottom: 24px; }

.pl-24px {
  padding-left: 24px; }

.px-24px {
  padding-left: 24px;
  padding-right: 24px; }

.py-24px {
  padding-top: 24px;
  padding-bottom: 24px; }

.p-26px {
  padding: 26px; }

.pt-26px {
  padding-top: 26px; }

.pr-26px {
  padding-right: 26px; }

.pb-26px {
  padding-bottom: 26px; }

.pl-26px {
  padding-left: 26px; }

.px-26px {
  padding-left: 26px;
  padding-right: 26px; }

.py-26px {
  padding-top: 26px;
  padding-bottom: 26px; }

.p-28px {
  padding: 28px; }

.pt-28px {
  padding-top: 28px; }

.pr-28px {
  padding-right: 28px; }

.pb-28px {
  padding-bottom: 28px; }

.pl-28px {
  padding-left: 28px; }

.px-28px {
  padding-left: 28px;
  padding-right: 28px; }

.py-28px {
  padding-top: 28px;
  padding-bottom: 28px; }

.p-30px {
  padding: 30px; }

.pt-30px {
  padding-top: 30px; }

.pr-30px {
  padding-right: 30px; }

.pb-30px {
  padding-bottom: 30px; }

.pl-30px {
  padding-left: 30px; }

.px-30px {
  padding-left: 30px;
  padding-right: 30px; }

.py-30px {
  padding-top: 30px;
  padding-bottom: 30px; }

.p-32px {
  padding: 32px; }

.pt-32px {
  padding-top: 32px; }

.pr-32px {
  padding-right: 32px; }

.pb-32px {
  padding-bottom: 32px; }

.pl-32px {
  padding-left: 32px; }

.px-32px {
  padding-left: 32px;
  padding-right: 32px; }

.py-32px {
  padding-top: 32px;
  padding-bottom: 32px; }

.p-34px {
  padding: 34px; }

.pt-34px {
  padding-top: 34px; }

.pr-34px {
  padding-right: 34px; }

.pb-34px {
  padding-bottom: 34px; }

.pl-34px {
  padding-left: 34px; }

.px-34px {
  padding-left: 34px;
  padding-right: 34px; }

.py-34px {
  padding-top: 34px;
  padding-bottom: 34px; }

.p-36px {
  padding: 36px; }

.pt-36px {
  padding-top: 36px; }

.pr-36px {
  padding-right: 36px; }

.pb-36px {
  padding-bottom: 36px; }

.pl-36px {
  padding-left: 36px; }

.px-36px {
  padding-left: 36px;
  padding-right: 36px; }

.py-36px {
  padding-top: 36px;
  padding-bottom: 36px; }

.p-38px {
  padding: 38px; }

.pt-38px {
  padding-top: 38px; }

.pr-38px {
  padding-right: 38px; }

.pb-38px {
  padding-bottom: 38px; }

.pl-38px {
  padding-left: 38px; }

.px-38px {
  padding-left: 38px;
  padding-right: 38px; }

.py-38px {
  padding-top: 38px;
  padding-bottom: 38px; }

.p-40px {
  padding: 40px; }

.pt-40px {
  padding-top: 40px; }

.pr-40px {
  padding-right: 40px; }

.pb-40px {
  padding-bottom: 40px; }

.pl-40px {
  padding-left: 40px; }

.px-40px {
  padding-left: 40px;
  padding-right: 40px; }

.py-40px {
  padding-top: 40px;
  padding-bottom: 40px; }

/* Basscss Grid */
.col {
  float: left;
  box-sizing: border-box; }

.col-right {
  float: right;
  box-sizing: border-box; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@media (min-width: 40em) {
  .sm-col {
    float: left;
    box-sizing: border-box; }

  .sm-col-right {
    float: right;
    box-sizing: border-box; }

  .sm-col-1 {
    width: 8.33333%; }

  .sm-col-2 {
    width: 16.66667%; }

  .sm-col-3 {
    width: 25%; }

  .sm-col-4 {
    width: 33.33333%; }

  .sm-col-5 {
    width: 41.66667%; }

  .sm-col-6 {
    width: 50%; }

  .sm-col-7 {
    width: 58.33333%; }

  .sm-col-8 {
    width: 66.66667%; }

  .sm-col-9 {
    width: 75%; }

  .sm-col-10 {
    width: 83.33333%; }

  .sm-col-11 {
    width: 91.66667%; }

  .sm-col-12 {
    width: 100%; } }
@media (min-width: 52em) {
  .md-col {
    float: left;
    box-sizing: border-box; }

  .md-col-right {
    float: right;
    box-sizing: border-box; }

  .md-col-1 {
    width: 8.33333%; }

  .md-col-2 {
    width: 16.66667%; }

  .md-col-3 {
    width: 25%; }

  .md-col-4 {
    width: 33.33333%; }

  .md-col-5 {
    width: 41.66667%; }

  .md-col-6 {
    width: 50%; }

  .md-col-7 {
    width: 58.33333%; }

  .md-col-8 {
    width: 66.66667%; }

  .md-col-9 {
    width: 75%; }

  .md-col-10 {
    width: 83.33333%; }

  .md-col-11 {
    width: 91.66667%; }

  .md-col-12 {
    width: 100%; } }
@media (min-width: 64em) {
  .lg-col {
    float: left;
    box-sizing: border-box; }

  .lg-col-right {
    float: right;
    box-sizing: border-box; }

  .lg-col-1 {
    width: 8.33333%; }

  .lg-col-2 {
    width: 16.66667%; }

  .lg-col-3 {
    width: 25%; }

  .lg-col-4 {
    width: 33.33333%; }

  .lg-col-5 {
    width: 41.66667%; }

  .lg-col-6 {
    width: 50%; }

  .lg-col-7 {
    width: 58.33333%; }

  .lg-col-8 {
    width: 66.66667%; }

  .lg-col-9 {
    width: 75%; }

  .lg-col-10 {
    width: 83.33333%; }

  .lg-col-11 {
    width: 91.66667%; }

  .lg-col-12 {
    width: 100%; } }
.flex {
  display: flex; }

@media (min-width: 40em) {
  .sm-flex {
    display: flex; } }
@media (min-width: 52em) {
  .md-flex {
    display: flex; } }
@media (min-width: 64em) {
  .lg-flex {
    display: flex; } }
.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

.items-center {
  align-items: center; }

.items-baseline {
  align-items: baseline; }

.items-stretch {
  align-items: stretch; }

.self-start {
  align-self: flex-start; }

.self-end {
  align-self: flex-end; }

.self-center {
  align-self: center; }

.self-baseline {
  align-self: baseline; }

.self-stretch {
  align-self: stretch; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.content-start {
  align-content: flex-start; }

.content-end {
  align-content: flex-end; }

.content-center {
  align-content: center; }

.content-between {
  align-content: space-between; }

.content-around {
  align-content: space-around; }

.content-stretch {
  align-content: stretch; }

/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */ }

.flex-none {
  flex: none; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-last {
  order: 99999; }

/* Basscss Position */
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.top-0 {
  top: 0; }

.right-0 {
  right: 0; }

.bottom-0 {
  bottom: 0; }

.left-0 {
  left: 0; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

/* Basscss Border */
.border {
  border-style: solid;
  border-width: 1px; }

.border-top {
  border-top-style: solid;
  border-top-width: 1px; }

.border-right {
  border-right-style: solid;
  border-right-width: 1px; }

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.border-left {
  border-left-style: solid;
  border-left-width: 1px; }

.border-none {
  border: 0; }

.rounded {
  border-radius: 3px; }

.circle {
  border-radius: 50%; }

.rounded-top {
  border-radius: 3px 3px 0 0; }

.rounded-right {
  border-radius: 0 3px 3px 0; }

.rounded-bottom {
  border-radius: 0 0 3px 3px; }

.rounded-left {
  border-radius: 3px 0 0 3px; }

.not-rounded {
  border-radius: 0; }

/* Basscss Hide */
.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

@media (max-width: 40em) {
  .xs-hide {
    display: none !important; } }
@media (min-width: 40em) and (max-width: 52em) {
  .sm-hide {
    display: none !important; } }
@media (min-width: 52em) and (max-width: 64em) {
  .md-hide {
    display: none !important; } }
@media (min-width: 64em) {
  .lg-hide {
    display: none !important; } }
.display-none {
  display: none !important; }
