/**
 * Created by Jasmine on 2018/6/10.
 */
/* Basscss Type Scale */

[data-dpr="1"] .fs-20px {
  font-size: 10px;
}

[data-dpr="2"] .fs-20px {
  font-size: 20px;
}

[data-dpr="3"] .fs-20px {
  font-size: 30px;
}

[data-dpr="1"] .fs-22px {
  font-size: 11px;
}

[data-dpr="2"] .fs-22px {
  font-size: 22px;
}

[data-dpr="3"] .fs-22px {
  font-size: 33px;
}

[data-dpr="1"] .fs-24px {
  font-size: 12px;
}

[data-dpr="2"] .fs-24px {
  font-size: 24px;
}

[data-dpr="3"] .fs-24px {
  font-size: 36px;
}

[data-dpr="1"] .fs-26px {
  font-size: 13px;
}

[data-dpr="2"] .fs-26px {
  font-size: 26px;
}

[data-dpr="3"] .fs-26px {
  font-size: 39px;
}

[data-dpr="1"] .fs-28px {
  font-size: 14px;
}

[data-dpr="2"] .fs-28px {
  font-size: 28px;
}

[data-dpr="3"] .fs-28px {
  font-size: 42px;
}

[data-dpr="1"] .fs-30px {
  font-size: 15px;
}

[data-dpr="2"] .fs-30px {
  font-size: 30px;
}

[data-dpr="3"] .fs-30px {
  font-size: 45px;
}

[data-dpr="1"] .fs-32px {
  font-size: 16px;
}

[data-dpr="2"] .fs-32px {
  font-size: 32px;
}

[data-dpr="3"] .fs-32px {
  font-size: 48px;
}

[data-dpr="1"] .fs-34px {
  font-size: 17px;
}

[data-dpr="2"] .fs-34px {
  font-size: 34px;
}

[data-dpr="3"] .fs-34px {
  font-size: 51px;
}

[data-dpr="1"] .fs-36px {
  font-size: 18px;
}

[data-dpr="2"] .fs-36px {
  font-size: 36px;
}

[data-dpr="3"] .fs-36px {
  font-size: 54px;
}

[data-dpr="1"] .fs-38px {
  font-size: 19px;
}

[data-dpr="2"] .fs-38px {
  font-size: 38px;
}

[data-dpr="3"] .fs-38px {
  font-size: 57px;
}

[data-dpr="1"] .fs-40px {
  font-size: 20px;
}

[data-dpr="2"] .fs-40px {
  font-size: 40px;
}

[data-dpr="3"] .fs-40px {
  font-size: 60px;
}

[data-dpr="1"] .fs-42px {
  font-size: 21px;
}

[data-dpr="2"] .fs-42px {
  font-size: 42px;
}

[data-dpr="3"] .fs-42px {
  font-size: 63px;
}

[data-dpr="1"] .fs-44px {
  font-size: 22px;
}

[data-dpr="2"] .fs-44px {
  font-size: 44px;
}

[data-dpr="3"] .fs-44px {
  font-size: 66px;
}

[data-dpr="1"] .fs-46px {
  font-size: 23px;
}

[data-dpr="2"] .fs-46px {
  font-size: 46px;
}

[data-dpr="3"] .fs-46px {
  font-size: 69px;
}

[data-dpr="1"] .fs-48px {
  font-size: 24px;
}

[data-dpr="2"] .fs-48px {
  font-size: 48px;
}

[data-dpr="3"] .fs-48px {
  font-size: 72px;
}

[data-dpr="1"] .fs-50px {
  font-size: 25px;
}

[data-dpr="2"] .fs-50px {
  font-size: 50px;
}

[data-dpr="3"] .fs-50px {
  font-size: 75px;
}

/* Basscss Typography */

.font-family-inherit {
  font-family: inherit;
}

.font-size-inherit {
  font-size: inherit;
}

.text-decoration-none {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-wrap: break-word;
}

.line-height-1 {
  line-height: 1;
}

.line-height-2 {
  line-height: 1.5;
}

.line-height-3 {
  line-height: 2;
}

.line-height-4 {
  line-height: 2.5;
}

.list-style-none {
  list-style: none;
}

.underline {
  text-decoration: underline;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

/* Basscss Layout */

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fit {
  max-width: 100%;
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basscss Align */

.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

/* Basscss Margin */

.m-0px {
  margin: 0;
}

.mt-0px {
  margin-top: 0;
}

.mr-0px {
  margin-right: 0;
}

.mb-0px {
  margin-bottom: 0;
}

.ml-0px {
  margin-left: 0;
}

.mx-0px {
  margin-left: 0;
  margin-right: 0;
}

.my-0px {
  margin-top: 0;
  margin-bottom: 0;
}

.m-2px {
  margin: 0.026667rem;
}

.mt-2px {
  margin-top: 0.026667rem;
}

.mr-2px {
  margin-right: 0.026667rem;
}

.mb-2px {
  margin-bottom: 0.026667rem;
}

.ml-2px {
  margin-left: 0.026667rem;
}

.mx-2px {
  margin-left: 0.026667rem;
  margin-right: 0.026667rem;
}

.my-2px {
  margin-top: 0.026667rem;
  margin-bottom: 0.026667rem;
}

.m-4px {
  margin: 0.053333rem;
}

.mt-4px {
  margin-top: 0.053333rem;
}

.mr-4px {
  margin-right: 0.053333rem;
}

.mb-4px {
  margin-bottom: 0.053333rem;
}

.ml-4px {
  margin-left: 0.053333rem;
}

.mx-4px {
  margin-left: 0.053333rem;
  margin-right: 0.053333rem;
}

.my-4px {
  margin-top: 0.053333rem;
  margin-bottom: 0.053333rem;
}

.m-6px {
  margin: 0.08rem;
}

.mt-6px {
  margin-top: 0.08rem;
}

.mr-6px {
  margin-right: 0.08rem;
}

.mb-6px {
  margin-bottom: 0.08rem;
}

.ml-6px {
  margin-left: 0.08rem;
}

.mx-6px {
  margin-left: 0.08rem;
  margin-right: 0.08rem;
}

.my-6px {
  margin-top: 0.08rem;
  margin-bottom: 0.08rem;
}

.m-8px {
  margin: 0.106667rem;
}

.mt-8px {
  margin-top: 0.106667rem;
}

.mr-8px {
  margin-right: 0.106667rem;
}

.mb-8px {
  margin-bottom: 0.106667rem;
}

.ml-8px {
  margin-left: 0.106667rem;
}

.mx-8px {
  margin-left: 0.106667rem;
  margin-right: 0.106667rem;
}

.my-8px {
  margin-top: 0.106667rem;
  margin-bottom: 0.106667rem;
}

.m-10px {
  margin: 0.133333rem;
}

.mt-10px {
  margin-top: 0.133333rem;
}

.mr-10px {
  margin-right: 0.133333rem;
}

.mb-10px {
  margin-bottom: 0.133333rem;
}

.ml-10px {
  margin-left: 0.133333rem;
}

.mx-10px {
  margin-left: 0.133333rem;
  margin-right: 0.133333rem;
}

.my-10px {
  margin-top: 0.133333rem;
  margin-bottom: 0.133333rem;
}

.m-12px {
  margin: 0.16rem;
}

.mt-12px {
  margin-top: 0.16rem;
}

.mr-12px {
  margin-right: 0.16rem;
}

.mb-12px {
  margin-bottom: 0.16rem;
}

.ml-12px {
  margin-left: 0.16rem;
}

.mx-12px {
  margin-left: 0.16rem;
  margin-right: 0.16rem;
}

.my-12px {
  margin-top: 0.16rem;
  margin-bottom: 0.16rem;
}

.m-14px {
  margin: 0.186667rem;
}

.mt-14px {
  margin-top: 0.186667rem;
}

.mr-14px {
  margin-right: 0.186667rem;
}

.mb-14px {
  margin-bottom: 0.186667rem;
}

.ml-14px {
  margin-left: 0.186667rem;
}

.mx-14px {
  margin-left: 0.186667rem;
  margin-right: 0.186667rem;
}

.my-14px {
  margin-top: 0.186667rem;
  margin-bottom: 0.186667rem;
}

.m-16px {
  margin: 0.213333rem;
}

.mt-16px {
  margin-top: 0.213333rem;
}

.mr-16px {
  margin-right: 0.213333rem;
}

.mb-16px {
  margin-bottom: 0.213333rem;
}

.ml-16px {
  margin-left: 0.213333rem;
}

.mx-16px {
  margin-left: 0.213333rem;
  margin-right: 0.213333rem;
}

.my-16px {
  margin-top: 0.213333rem;
  margin-bottom: 0.213333rem;
}

.m-18px {
  margin: 0.24rem;
}

.mt-18px {
  margin-top: 0.24rem;
}

.mr-18px {
  margin-right: 0.24rem;
}

.mb-18px {
  margin-bottom: 0.24rem;
}

.ml-18px {
  margin-left: 0.24rem;
}

.mx-18px {
  margin-left: 0.24rem;
  margin-right: 0.24rem;
}

.my-18px {
  margin-top: 0.24rem;
  margin-bottom: 0.24rem;
}

.m-20px {
  margin: 0.266667rem;
}

.mt-20px {
  margin-top: 0.266667rem;
}

.mr-20px {
  margin-right: 0.266667rem;
}

.mb-20px {
  margin-bottom: 0.266667rem;
}

.ml-20px {
  margin-left: 0.266667rem;
}

.mx-20px {
  margin-left: 0.266667rem;
  margin-right: 0.266667rem;
}

.my-20px {
  margin-top: 0.266667rem;
  margin-bottom: 0.266667rem;
}

.m-22px {
  margin: 0.293333rem;
}

.mt-22px {
  margin-top: 0.293333rem;
}

.mr-22px {
  margin-right: 0.293333rem;
}

.mb-22px {
  margin-bottom: 0.293333rem;
}

.ml-22px {
  margin-left: 0.293333rem;
}

.mx-22px {
  margin-left: 0.293333rem;
  margin-right: 0.293333rem;
}

.my-22px {
  margin-top: 0.293333rem;
  margin-bottom: 0.293333rem;
}

.m-24px {
  margin: 0.32rem;
}

.mt-24px {
  margin-top: 0.32rem;
}

.mr-24px {
  margin-right: 0.32rem;
}

.mb-24px {
  margin-bottom: 0.32rem;
}

.ml-24px {
  margin-left: 0.32rem;
}

.mx-24px {
  margin-left: 0.32rem;
  margin-right: 0.32rem;
}

.my-24px {
  margin-top: 0.32rem;
  margin-bottom: 0.32rem;
}

.m-26px {
  margin: 0.346667rem;
}

.mt-26px {
  margin-top: 0.346667rem;
}

.mr-26px {
  margin-right: 0.346667rem;
}

.mb-26px {
  margin-bottom: 0.346667rem;
}

.ml-26px {
  margin-left: 0.346667rem;
}

.mx-26px {
  margin-left: 0.346667rem;
  margin-right: 0.346667rem;
}

.my-26px {
  margin-top: 0.346667rem;
  margin-bottom: 0.346667rem;
}

.m-28px {
  margin: 0.373333rem;
}

.mt-28px {
  margin-top: 0.373333rem;
}

.mr-28px {
  margin-right: 0.373333rem;
}

.mb-28px {
  margin-bottom: 0.373333rem;
}

.ml-28px {
  margin-left: 0.373333rem;
}

.mx-28px {
  margin-left: 0.373333rem;
  margin-right: 0.373333rem;
}

.my-28px {
  margin-top: 0.373333rem;
  margin-bottom: 0.373333rem;
}

.m-30px {
  margin: 0.4rem;
}

.mt-30px {
  margin-top: 0.4rem;
}

.mr-30px {
  margin-right: 0.4rem;
}

.mb-30px {
  margin-bottom: 0.4rem;
}

.ml-30px {
  margin-left: 0.4rem;
}

.mx-30px {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.my-30px {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.m-32px {
  margin: 0.426667rem;
}

.mt-32px {
  margin-top: 0.426667rem;
}

.mr-32px {
  margin-right: 0.426667rem;
}

.mb-32px {
  margin-bottom: 0.426667rem;
}

.ml-32px {
  margin-left: 0.426667rem;
}

.mx-32px {
  margin-left: 0.426667rem;
  margin-right: 0.426667rem;
}

.my-32px {
  margin-top: 0.426667rem;
  margin-bottom: 0.426667rem;
}

.m-34px {
  margin: 0.453333rem;
}

.mt-34px {
  margin-top: 0.453333rem;
}

.mr-34px {
  margin-right: 0.453333rem;
}

.mb-34px {
  margin-bottom: 0.453333rem;
}

.ml-34px {
  margin-left: 0.453333rem;
}

.mx-34px {
  margin-left: 0.453333rem;
  margin-right: 0.453333rem;
}

.my-34px {
  margin-top: 0.453333rem;
  margin-bottom: 0.453333rem;
}

.m-36px {
  margin: 0.48rem;
}

.mt-36px {
  margin-top: 0.48rem;
}

.mr-36px {
  margin-right: 0.48rem;
}

.mb-36px {
  margin-bottom: 0.48rem;
}

.ml-36px {
  margin-left: 0.48rem;
}

.mx-36px {
  margin-left: 0.48rem;
  margin-right: 0.48rem;
}

.my-36px {
  margin-top: 0.48rem;
  margin-bottom: 0.48rem;
}

.m-38px {
  margin: 0.506667rem;
}

.mt-38px {
  margin-top: 0.506667rem;
}

.mr-38px {
  margin-right: 0.506667rem;
}

.mb-38px {
  margin-bottom: 0.506667rem;
}

.ml-38px {
  margin-left: 0.506667rem;
}

.mx-38px {
  margin-left: 0.506667rem;
  margin-right: 0.506667rem;
}

.my-38px {
  margin-top: 0.506667rem;
  margin-bottom: 0.506667rem;
}

.m-40px {
  margin: 0.533333rem;
}

.mt-40px {
  margin-top: 0.533333rem;
}

.mr-40px {
  margin-right: 0.533333rem;
}

.mb-40px {
  margin-bottom: 0.533333rem;
}

.ml-40px {
  margin-left: 0.533333rem;
}

.mx-40px {
  margin-left: 0.533333rem;
  margin-right: 0.533333rem;
}

.my-40px {
  margin-top: 0.533333rem;
  margin-bottom: 0.533333rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Basscss Padding */

.p-0px {
  padding: 0;
}

.pt-0px {
  padding-top: 0;
}

.pr-0px {
  padding-right: 0;
}

.pb-0px {
  padding-bottom: 0;
}

.pl-0px {
  padding-left: 0;
}

.px-0px {
  padding-left: 0;
  padding-right: 0;
}

.py-0px {
  padding-top: 0;
  padding-bottom: 0;
}

.p-2px {
  padding: 0.026667rem;
}

.pt-2px {
  padding-top: 0.026667rem;
}

.pr-2px {
  padding-right: 0.026667rem;
}

.pb-2px {
  padding-bottom: 0.026667rem;
}

.pl-2px {
  padding-left: 0.026667rem;
}

.px-2px {
  padding-left: 0.026667rem;
  padding-right: 0.026667rem;
}

.py-2px {
  padding-top: 0.026667rem;
  padding-bottom: 0.026667rem;
}

.p-4px {
  padding: 0.053333rem;
}

.pt-4px {
  padding-top: 0.053333rem;
}

.pr-4px {
  padding-right: 0.053333rem;
}

.pb-4px {
  padding-bottom: 0.053333rem;
}

.pl-4px {
  padding-left: 0.053333rem;
}

.px-4px {
  padding-left: 0.053333rem;
  padding-right: 0.053333rem;
}

.py-4px {
  padding-top: 0.053333rem;
  padding-bottom: 0.053333rem;
}

.p-6px {
  padding: 0.08rem;
}

.pt-6px {
  padding-top: 0.08rem;
}

.pr-6px {
  padding-right: 0.08rem;
}

.pb-6px {
  padding-bottom: 0.08rem;
}

.pl-6px {
  padding-left: 0.08rem;
}

.px-6px {
  padding-left: 0.08rem;
  padding-right: 0.08rem;
}

.py-6px {
  padding-top: 0.08rem;
  padding-bottom: 0.08rem;
}

.p-8px {
  padding: 0.106667rem;
}

.pt-8px {
  padding-top: 0.106667rem;
}

.pr-8px {
  padding-right: 0.106667rem;
}

.pb-8px {
  padding-bottom: 0.106667rem;
}

.pl-8px {
  padding-left: 0.106667rem;
}

.px-8px {
  padding-left: 0.106667rem;
  padding-right: 0.106667rem;
}

.py-8px {
  padding-top: 0.106667rem;
  padding-bottom: 0.106667rem;
}

.p-10px {
  padding: 0.133333rem;
}

.pt-10px {
  padding-top: 0.133333rem;
}

.pr-10px {
  padding-right: 0.133333rem;
}

.pb-10px {
  padding-bottom: 0.133333rem;
}

.pl-10px {
  padding-left: 0.133333rem;
}

.px-10px {
  padding-left: 0.133333rem;
  padding-right: 0.133333rem;
}

.py-10px {
  padding-top: 0.133333rem;
  padding-bottom: 0.133333rem;
}

.p-12px {
  padding: 0.16rem;
}

.pt-12px {
  padding-top: 0.16rem;
}

.pr-12px {
  padding-right: 0.16rem;
}

.pb-12px {
  padding-bottom: 0.16rem;
}

.pl-12px {
  padding-left: 0.16rem;
}

.px-12px {
  padding-left: 0.16rem;
  padding-right: 0.16rem;
}

.py-12px {
  padding-top: 0.16rem;
  padding-bottom: 0.16rem;
}

.p-14px {
  padding: 0.186667rem;
}

.pt-14px {
  padding-top: 0.186667rem;
}

.pr-14px {
  padding-right: 0.186667rem;
}

.pb-14px {
  padding-bottom: 0.186667rem;
}

.pl-14px {
  padding-left: 0.186667rem;
}

.px-14px {
  padding-left: 0.186667rem;
  padding-right: 0.186667rem;
}

.py-14px {
  padding-top: 0.186667rem;
  padding-bottom: 0.186667rem;
}

.p-16px {
  padding: 0.213333rem;
}

.pt-16px {
  padding-top: 0.213333rem;
}

.pr-16px {
  padding-right: 0.213333rem;
}

.pb-16px {
  padding-bottom: 0.213333rem;
}

.pl-16px {
  padding-left: 0.213333rem;
}

.px-16px {
  padding-left: 0.213333rem;
  padding-right: 0.213333rem;
}

.py-16px {
  padding-top: 0.213333rem;
  padding-bottom: 0.213333rem;
}

.p-18px {
  padding: 0.24rem;
}

.pt-18px {
  padding-top: 0.24rem;
}

.pr-18px {
  padding-right: 0.24rem;
}

.pb-18px {
  padding-bottom: 0.24rem;
}

.pl-18px {
  padding-left: 0.24rem;
}

.px-18px {
  padding-left: 0.24rem;
  padding-right: 0.24rem;
}

.py-18px {
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
}

.p-20px {
  padding: 0.266667rem;
}

.pt-20px {
  padding-top: 0.266667rem;
}

.pr-20px {
  padding-right: 0.266667rem;
}

.pb-20px {
  padding-bottom: 0.266667rem;
}

.pl-20px {
  padding-left: 0.266667rem;
}

.px-20px {
  padding-left: 0.266667rem;
  padding-right: 0.266667rem;
}

.py-20px {
  padding-top: 0.266667rem;
  padding-bottom: 0.266667rem;
}

.p-22px {
  padding: 0.293333rem;
}

.pt-22px {
  padding-top: 0.293333rem;
}

.pr-22px {
  padding-right: 0.293333rem;
}

.pb-22px {
  padding-bottom: 0.293333rem;
}

.pl-22px {
  padding-left: 0.293333rem;
}

.px-22px {
  padding-left: 0.293333rem;
  padding-right: 0.293333rem;
}

.py-22px {
  padding-top: 0.293333rem;
  padding-bottom: 0.293333rem;
}

.p-24px {
  padding: 0.32rem;
}

.pt-24px {
  padding-top: 0.32rem;
}

.pr-24px {
  padding-right: 0.32rem;
}

.pb-24px {
  padding-bottom: 0.32rem;
}

.pl-24px {
  padding-left: 0.32rem;
}

.px-24px {
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}

.py-24px {
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
}

.p-26px {
  padding: 0.346667rem;
}

.pt-26px {
  padding-top: 0.346667rem;
}

.pr-26px {
  padding-right: 0.346667rem;
}

.pb-26px {
  padding-bottom: 0.346667rem;
}

.pl-26px {
  padding-left: 0.346667rem;
}

.px-26px {
  padding-left: 0.346667rem;
  padding-right: 0.346667rem;
}

.py-26px {
  padding-top: 0.346667rem;
  padding-bottom: 0.346667rem;
}

.p-28px {
  padding: 0.373333rem;
}

.pt-28px {
  padding-top: 0.373333rem;
}

.pr-28px {
  padding-right: 0.373333rem;
}

.pb-28px {
  padding-bottom: 0.373333rem;
}

.pl-28px {
  padding-left: 0.373333rem;
}

.px-28px {
  padding-left: 0.373333rem;
  padding-right: 0.373333rem;
}

.py-28px {
  padding-top: 0.373333rem;
  padding-bottom: 0.373333rem;
}

.p-30px {
  padding: 0.4rem;
}

.pt-30px {
  padding-top: 0.4rem;
}

.pr-30px {
  padding-right: 0.4rem;
}

.pb-30px {
  padding-bottom: 0.4rem;
}

.pl-30px {
  padding-left: 0.4rem;
}

.px-30px {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.py-30px {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.p-32px {
  padding: 0.426667rem;
}

.pt-32px {
  padding-top: 0.426667rem;
}

.pr-32px {
  padding-right: 0.426667rem;
}

.pb-32px {
  padding-bottom: 0.426667rem;
}

.pl-32px {
  padding-left: 0.426667rem;
}

.px-32px {
  padding-left: 0.426667rem;
  padding-right: 0.426667rem;
}

.py-32px {
  padding-top: 0.426667rem;
  padding-bottom: 0.426667rem;
}

.p-34px {
  padding: 0.453333rem;
}

.pt-34px {
  padding-top: 0.453333rem;
}

.pr-34px {
  padding-right: 0.453333rem;
}

.pb-34px {
  padding-bottom: 0.453333rem;
}

.pl-34px {
  padding-left: 0.453333rem;
}

.px-34px {
  padding-left: 0.453333rem;
  padding-right: 0.453333rem;
}

.py-34px {
  padding-top: 0.453333rem;
  padding-bottom: 0.453333rem;
}

.p-36px {
  padding: 0.48rem;
}

.pt-36px {
  padding-top: 0.48rem;
}

.pr-36px {
  padding-right: 0.48rem;
}

.pb-36px {
  padding-bottom: 0.48rem;
}

.pl-36px {
  padding-left: 0.48rem;
}

.px-36px {
  padding-left: 0.48rem;
  padding-right: 0.48rem;
}

.py-36px {
  padding-top: 0.48rem;
  padding-bottom: 0.48rem;
}

.p-38px {
  padding: 0.506667rem;
}

.pt-38px {
  padding-top: 0.506667rem;
}

.pr-38px {
  padding-right: 0.506667rem;
}

.pb-38px {
  padding-bottom: 0.506667rem;
}

.pl-38px {
  padding-left: 0.506667rem;
}

.px-38px {
  padding-left: 0.506667rem;
  padding-right: 0.506667rem;
}

.py-38px {
  padding-top: 0.506667rem;
  padding-bottom: 0.506667rem;
}

.p-40px {
  padding: 0.533333rem;
}

.pt-40px {
  padding-top: 0.533333rem;
}

.pr-40px {
  padding-right: 0.533333rem;
}

.pb-40px {
  padding-bottom: 0.533333rem;
}

.pl-40px {
  padding-left: 0.533333rem;
}

.px-40px {
  padding-left: 0.533333rem;
  padding-right: 0.533333rem;
}

.py-40px {
  padding-top: 0.533333rem;
  padding-bottom: 0.533333rem;
}

/* Basscss Grid */

.col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-right {
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 40em) {
  .sm-col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .sm-col-1 {
    width: 8.33333%;
  }

  .sm-col-2 {
    width: 16.66667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.33333%;
  }

  .sm-col-5 {
    width: 41.66667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.33333%;
  }

  .sm-col-8 {
    width: 66.66667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.33333%;
  }

  .sm-col-11 {
    width: 91.66667%;
  }

  .sm-col-12 {
    width: 100%;
  }
}

@media (min-width: 52em) {
  .md-col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .md-col-right {
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .md-col-1 {
    width: 8.33333%;
  }

  .md-col-2 {
    width: 16.66667%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.33333%;
  }

  .md-col-5 {
    width: 41.66667%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.33333%;
  }

  .md-col-8 {
    width: 66.66667%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.33333%;
  }

  .md-col-11 {
    width: 91.66667%;
  }

  .md-col-12 {
    width: 100%;
  }
}

@media (min-width: 64em) {
  .lg-col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .lg-col-right {
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .lg-col-1 {
    width: 8.33333%;
  }

  .lg-col-2 {
    width: 16.66667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-4 {
    width: 33.33333%;
  }

  .lg-col-5 {
    width: 41.66667%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-7 {
    width: 58.33333%;
  }

  .lg-col-8 {
    width: 66.66667%;
  }

  .lg-col-9 {
    width: 75%;
  }

  .lg-col-10 {
    width: 83.33333%;
  }

  .lg-col-11 {
    width: 91.66667%;
  }

  .lg-col-12 {
    width: 100%;
  }
}

.flex {
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 40em) {
  .sm-flex {
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 52em) {
  .md-flex {
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 64em) {
  .lg-flex {
    display: -ms-flexbox;
    display: flex;
  }
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.items-start {
  -ms-flex-align: start;
  align-items: flex-start;
}

.items-end {
  -ms-flex-align: end;
  align-items: flex-end;
}

.items-center {
  -ms-flex-align: center;
  align-items: center;
}

.items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline;
}

.items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch;
}

.self-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.self-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.self-center {
  -ms-flex-item-align: center;
  align-self: center;
}

.self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.self-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.justify-start {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-center {
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.content-center {
  -ms-flex-line-pack: center;
  align-content: center;
}

.content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */

.flex-auto {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */
}

.flex-none {
  -ms-flex: none;
  flex: none;
}

.order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.order-last {
  -ms-flex-order: 99999;
  order: 99999;
}

/* Basscss Position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

/* Basscss Border */

.border {
  border-style: solid;
  border-width: 0.013333rem;
}

.border-top {
  border-top-style: solid;
  border-top-width: 0.013333rem;
}

.border-right {
  border-right-style: solid;
  border-right-width: 0.013333rem;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 0.013333rem;
}

.border-left {
  border-left-style: solid;
  border-left-width: 0.013333rem;
}

.border-none {
  border: 0;
}

.rounded {
  border-radius: 0.04rem;
}

.circle {
  border-radius: 50%;
}

.rounded-top {
  border-radius: 0.04rem 0.04rem 0 0;
}

.rounded-right {
  border-radius: 0 0.04rem 0.04rem 0;
}

.rounded-bottom {
  border-radius: 0 0 0.04rem 0.04rem;
}

.rounded-left {
  border-radius: 0.04rem 0 0 0.04rem;
}

.not-rounded {
  border-radius: 0;
}

/* Basscss Hide */

.hide {
  position: absolute !important;
  height: 0.013333rem;
  width: 0.013333rem;
  overflow: hidden;
  clip: rect(0.013333rem, 0.013333rem, 0.013333rem, 0.013333rem);
}

@media (max-width: 40em) {
  .xs-hide {
    display: none !important;
  }
}

@media (min-width: 40em) and (max-width: 52em) {
  .sm-hide {
    display: none !important;
  }
}

@media (min-width: 52em) and (max-width: 64em) {
  .md-hide {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}

.display-none {
  display: none !important;
}